table.record th {
    font-weight: 500;
    font-size: 14px;
}

span.improve {
    display: none;
}

table.record td,
table.record th {
    border: none;
    border-bottom: 1px solid #a6a6a674;
}

table.record {
    width: 100%;
}

table.record th {
    color: #747474;
    font-weight: 400;
    padding: 8px 6px;
}

table.record th i {
    font-size: 10px;
    color: #9999999f;
    margin-left: 5px;
}

table.record th.active i {
    font-size: 10px;
    color: rgb(0, 106, 255);
}

table.record td {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 10px;
    color: #4c4c4c;
}

div.records {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 35px 50px;
    border-radius: 5px;
    margin-top: 30px;
    padding-bottom: 50px;
}

div.records h2 {
    font-weight: 400;
    font-size: 25px;
    color: #334152;
    margin-bottom: 5px;
}


input[type=search] {
    margin-bottom: 20px;
}

div.records p {
    margin-top: 5px;
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

@media screen and (max-width: 1000px) {

    td.not-too-interesting,
    th.not-too-interesting,
    label.not-too-interesting {
        display: none;
    }

    table.record td,
    table.record th {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 150px;
    }

    table.record td {
        font-size: 13px;
    }

    span.improve {
        display: block;
        text-align: center;
        font-size: 12px;
        color: silver;
        margin-top: 35px;
    }
}