*:not(hr) {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: 'Albert Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: default;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #d7d7d7;
}

/* BURGUER BUTTON */
.container {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #ff0a0a;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

/* END BURGUER BUTTON */

div.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 13px;
}


td.active {
    color: #0038d0;
    font-weight: 500 !important;
}

td.inactive {
    color: #8b8b8b;
    font-weight: 500 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button.delete:disabled,
button.delete:disabled:hover,
button.delete:disabled:hover i {
    cursor: not-allowed;
    background-color: #6b6b6b;
}


a {
    color: rgb(0, 106, 255);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: rgb(0, 42, 255);
    transition: all 200ms
}

hr {
    border: 1px solid rgba(190, 190, 190, 0.349);
}

body {
    display: flex;
    justify-content: space-between;
    background-color: #f2f4f8;
}

main {
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: relative;
    top: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    min-width: 250px;
    overflow-x: hidden;
    padding: 0 25px;
    box-shadow: -1px 1px 7px 0px #6262620f;
}

nav div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

nav div.logo>img {
    max-width: 90px;
}

nav div.client-info {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px 40px 0px -10px;
    gap: 10px;
    padding: 20px 20px 20px 0;
    min-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


nav div.client-info img {
    width: 50px;
    height: 50px;
}

nav div.client-info h2 {
    font-weight: 500;
    font-size: 19px;
    color: rgb(47, 47, 47);
}

nav div.client-info p {
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(110, 110, 110);
}

div.tabs {
    padding: 30px 0;
    width: 100%;
}

div.tabs a {
    display: flex;
    text-decoration: none;
    color: rgb(84, 84, 84);
    padding: 20px 0px 20px 27px;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    column-gap: 15px;
}

div.tabs a.active {
    color: rgb(0, 187, 255);
}

div.tabs a:hover {
    cursor: pointer;
    background-color: #f2f4f8;
}


table.exchange tbody td {
    font-size: 12px;
    height: 100px;
    width: 100px;
    font-weight: bold;
    aspect-ratio: 1/1;
}

div.two-segment {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    row-gap: 50px;
}

table.exchange tr:not(:last-child) td {
    border-bottom: 1px solid #f0f3fa;
}

table.exchange tr td:not(:last-child) {
    border-right: 1px solid #f0f3fa;
}

p.messageCentered {
    margin-top: 0px;
}

button i {
    cursor: pointer;
}

div.hori {
    align-items: center;
}

@media screen and (max-width: 1200px) {
    body {
        flex-direction: column;
    }

    div.two-segment {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: center;
        row-gap: 50px;
        min-width: 100vw;
    }

    nav {
        height: fit-content;
        position: static;
        padding: 0 5% 0 7%;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    div.profile {
        column-gap: 8px;
    }


    nav div.client-info {
        justify-content: space-between;
    }

    div.tabs.collapsed {
        display: none;
        transition: all 200ms;
    }

    nav div.client-info img {
        width: 40px;
        height: 40px;
    }



    main div.balance>p {
        font-size: 40px;
    }

    main.dash h1 {
        font-size: 25px;
        font-weight: 400;
        margin-top: 1px;
        padding: 0px 30px;
    }

    div.greeting>h2 {
        font-weight: 300;
        font-size: 15px;
        color: #535353;
        margin-left: 30px;
    }

    main div.main-container {
        padding: 0px 0px;
    }

    main div.info,
    main div.exchange {
        width: 100%;
        margin: 28px 0 28px 0px;
        background-color: white;
        /* min-width: fit-content; */
        /* min-width: 100%; */
        padding: 23px 22px;
        border-radius: 5px;
        box-shadow: -1px 1px 7px 0px #6262620f;
    }

    main div.balance>h2 {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 19px;
        color: #a5a5a5;
    }


}

span.hint.summary {
    display: block;
    text-align: end;
    font-size: 14px;
}

span.hint {
    color: darkgrey;
    font-size: 12px;
}

span.hint strong {
    font-weight: 600;
    color: #949494;
}